use-choi-style-boundaries=true
stop-words=config/STOPWORD.list
segmentation-dispersion-range=.1,100,20,M
use-word-stems=true
segmentation-dispersion=1
segmenter=edu.mit.nlp.segmenter.dp.BayesWrapper
;; this is what's learned from em
dirichlet-prior=.2
dirichlet-prior-range=.0001,.1,20,M
window-size-range=10,25,16,A
remove-stop-words=true
window-size=10
use-fixed-blocks=false
num-segs-known=true
;; em parameters already plugged in...
em-param-search=false
use-duration=false
;;;;;;;;;; MCMC PARAMS
careful-debug=false
phi-b-0=.01
phi-o-0=.005
lambda-b=1
lambda-o=0
num-mcmc-moves=100000
max-move=50
update-params-period=1000
output-period=100
burnin-duration=.25
max-burnin-temp=5
cooling-duration=.25
mcem-cuephrases=false
update-lm-period=100
cuephrase-file=config/CUEPHRASES.hl
use-extra-features=false
