;;;general-settings
use-choi-style-boundaries=true
stop-words=config/STOPWORD.list
use-fixed-blocks=false
use-word-stems=false
remove-stop-words=false
window-size=25
window-size-range=10,50,41,A
num-segs-known=true
;;;Bayes-settings
;;;optimizer-settings
segmenter=edu.mit.nlp.segmenter.wrappers.LCSegWrapper
lcseg-path=baselines/lcseg/bin/segment