min-segment-length-range=0,3,4,A
edge-cutoff=95
count-smoothing-alpha=1.1
count-smoothing-alpha-range=0.0,2.0,41,A
stop-words=config/STOPWORD.list
use-choi-style-boundaries=true
edge-cutoff-range=70,300,47,A
use-word-stems=true
segmenter=edu.mit.nlp.segmenter.wrappers.MCSWrapper
count-smoothing-horizon=5
tfidf-segment-split=15
window-size-range=10,25,16,A
remove-stop-words=true
enable-edge-cutoff=true
window-size=25
min-segment-length=0
use-tfidf-weighting=true
count-smoothing-horizon-range=1,3,3,A
use-count-smoothing=true
use-fixed-blocks=false
enforce-min-segment-length=true
tfidf-segment-split-range=10,30,21,A
