;;;general-settings
use-choi-style-boundaries=true
stop-words=config/STOPWORD.list
use-fixed-blocks=false
use-word-stems=true
remove-stop-words=true
window-size=25
window-size-range=10,50,41,A
num-segs-known=true
;;;Bayes-settings
;;;optimizer-settings
segmenter=edu.mit.nlp.segmenter.wrappers.UIWrapper
ui-path=baselines/textseg-1.211/Seg
